@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Members";
}

<h1>Coaches</h1>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var coach in Model)
		{
			<tr>
				<td>@Html.DisplayFor(item => coach.FirstName)</td>
				<td>@Html.DisplayFor(item => coach.LastName)</td>
				<td>
					<a asp-action="Details" asp-route-id="@coach.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>